<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="ui grid main container">
      <div class="four wide column">
        <div class="ui secondary vertical menu">
          {% assign pages_list = site.pages | sort:"order" %}
          {% assign group = 'section' %}
          {% include pages_list.html %}
        </div>
      </div>
      <div class="twelve wide column">
          {{ content }}

          {% include footer.html %}
      </div>
    </div>

  </body>

</html>
