<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="ui grid main container">
      <div class="four wide column">
        <div class="ui secondary vertical menu">
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="twelve wide column">
          {{ content }}

          {% include footer.html %}
      </div>
    </div>

  </body>

</html>
